# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# Outputs / results (NO versionar)
outputs/

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
